body {
  background-color: #141414;
  color: #fff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.header {
  background-color: #e50914;
  color: #fff;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1rem;
  z-index: 2;
}
